
@import "../../global.scss";
.PortfolioList{
    font-size: 19px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    &.active{
        background-color: $maincolor;
        color: white;
        font-weight: bold;
    }
}