@import "../../global.scss";
.contact{
    background-color: lightyellow;
    display: flex;
    @include mobile{
        flex-direction: column;
    }
    .left{
        flex: 1;
        overflow: hidden;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            flex-direction: column;
            padding: 0;
            
          
        }
        
        img{
            height: 100%;
            border-radius: 20%;
            @include mobile{
               height: 90%;
                
              
            }
           
        }
        .links{
            display: flex;
            flex-direction: column;
            @include mobile{
                flex-direction: row;
                
                
                
            }
            .link{
                margin: 10px;
                cursor: pointer;
                .icon{
                    width: 45px;
                    height: 45px;
                    filter: 
                    hue-rotate(220deg)
                    drop-shadow(2px 4px 4px #00000066);
                    transition: 0.2s;
                    user-select: none;
                    &:hover{
                        transform: scale(1.1, 1.1);
                    }
                    &:active{
                        transform: scale(1.1, 1.1);
                        filter: 
                                 hue-rotate(220deg)
                                drop-shadow(2px 4px 4px #222)
                                sepia(0.3);
                        
                    }
                }
            }
        }
    }
    .right{
        flex: 1;
        display: flex;
       
        align-items: center;
        flex-direction: column;
        justify-content: center;
       

        h2{
            font-size: 30px;
            padding-bottom: 5mm;
            @include mobile{
                padding: 0;
                font-size: 20px;
            }
            

        }
        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            @include mobile{
                width: 90%;
                height: 90%;
            }
            input{
                width: 400px;
                background-color: #f0f4f5;
                height: 50px;
                font-size: 20px;
                border-radius: 0.25rem;
                margin-bottom: 1rem;
                margin-top: .5rem;
                border: none;
                border-color: #fff;
                display: block;
                padding: 0.375rem 0.75rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                @include mobile{
                    width: 300px;
                  }
                &:placeholder {
                    color: #aeb4b9;
                    font-weight: 500;
                    opacity: 1;
                    
                    
                  }
                &:focus {
                    
                    border-color: white;
                    
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px gray;
                  }
            }
            textarea{
                width: 400px;
                background-color: #f0f4f5;
                height: 200px;
                font-size: 20px;
                border-radius: 0.25rem;
                margin-bottom: 1rem;
                margin-top: .5rem;
                border-color: #fff;
                display: block;
                resize: none;
                padding: 0.375rem 0.75rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                @include mobile{
                    width: 300px;
                  }
                &:placeholder {
                    color: #aeb4b9;
                    font-weight: 500;
                    opacity: 1;
                  }
                  &:focus {
                    
                    border-color: white;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px gray;
                  }

            }
            button{
                
                border: none;
                 border-radius: 4px;
                background-color: #f23292;
                color: white;
                text-transform: uppercase;
                padding: 10px 60px;
                font-weight: 500;
                letter-spacing: 2px;
                overflow: hidden;
                cursor: pointer;
                @include mobile{
                    //padding: 17px 60px;
                    padding-bottom: 5mm;
             
                    font-size: 20px;
                   
                    text-align: center;
                    
                }
                
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: #d30069;
                }
            }
            .ok{
                color: green;
                font-size: 17px;
                font-weight: bold;
                padding-bottom: 5mm;
                overflow: hidden;
                //animation: arrowBlink 2s forwards;

            }
            .no{
                color: red;
                overflow: hidden;
                font-size: 17px;
                font-weight: bold;
                padding-bottom: 5mm;
                
            }
            @keyframes arrowBlink {
                0%{
                    opacity: 1;
                    
                  }
                  50%{
                    opacity: 0.5;
                   
                  }
                  100%{
                    display: none;
                    opacity: 0;
                    
                  }
                
            }
        }

    }
}

